<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to the <%= title %></p>
    <a href="/new">New Message</a>
    <h4>Messages</h4>
    
      <% messages.forEach(message => { %>
        <div class="message"><div class="message-header"><%= message.author %></div><div class="message-content"><%= message.content %><div class="message-footer"><%=  message.added %></div></div></div>
      <% }); %>
    
  </body>
</html>
